<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Rough draft of start page layout</title>
        <meta name="description" content="App's start page.">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>

        <h1>Rough draft of start page layout</h1>
        <h2>Make changes as you'd like</h2>
<section id = "uploadFile" class="upload">
<button ion-button round style="height:100px;width:100px" id="uploadFileButton" ng-click="on_uploadFile()">
        Upload File
      </button>
</section>
<section id = "takeAVideo">
<button ion-button round style="height:100px;width:100px" id="takeAVideoButton" ng-click="on_takeAVideo()">
        Take A Video
      </button>
</section>

 </body>
</html>

<style>
.upload {float: left;}
.upload section {width:50%; float:left;}
</style>
