<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rough draft of start page layout</title>
  <meta name="description" content="App's start page.">
  <link rel="stylesheet" href="main.css">

  <!--Accessing Camera Hardware -->
  <uses-feature android:name="android.hardware.camera" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />




</head>
<body>

<h1>Rough draft of start page layout</h1>
<h2>Make changes as you'd like</h2>
<section id = "uploadFile" class="upload">
  <button ion-button round style="height:100px;width:100px" id="uploadFile" ng-click="on_uploadFile()">
    Upload File
  </button>
</section>
<section id = "takeAVideo">
  <button ion-button round style="height:100px;width:100px" id="takeAVideo" ng-click="on_takeAVideo()">
    Take A Video
  </button>
</section>

</body>
</html>
