<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Home Page</title>
</head>
<body>
<!-- TODO: Finish this HTML to show buttons for all the functionality options -->
<section id = "Crop" class="upload">
  <button ion-button round style="height:100px;width:100px" id="Crop" ng-click="on_Crop()">
    Crop
  </button>
</section>
<section id = "Stitch">
  <button ion-button round style="height:100px;width:100px" id="Stitch" ng-click="on_Stitch()">
    Stitch
  </button>
</section>

<!-- TODO: Finish this HTML to show buttons for all the functionality options -->

</body>
</html>
